APP_TIMEOUT=10
APP_PORT=8989
APP_MODE=development

DB_HOST=mariadb-10-4-30
DB_DRIVER=mysql
DB_USER=root
DB_PASSWORD=Kekasi.Co.ID
DB_NAME=restapi_socketio
DB_PORT=3306

REDIS_ADDRESS=redis-700
REDIS_PORT=6379
REDIS_PASSWORD=

ALLOW_ORIGIN=http://localhost:3000,http://localhost:3001

VENDOR_PRODUCT_URL=https://dummyjson.com/products

SOCK_NS_NOTIFIKASI=/notifikasi
SOCK_EVENT_NOTIFIKASI=keluarga

GRAYLOG_ACTIVE=on
GRAYLOG_URL=graylog-513:12201